{% extends 'layaout/base.html' %}

{% block content %}
{% include 'layaout/navbar.html' %}

<div class="container p-5 my-5">
    
    <div class="row justify-content-center">
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <form class="px-md-2" method="POST" action="">{% csrf_token %}
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Detalles personales</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" value="{{user.first_name}}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="apellidos">Apellido</label>
                                    <input type="text" class="form-control" name="apellidos" value="{{user.last_name}}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="correo">Correo</label>
                                    <input type="text" class="form-control" name="correo" value="{{user.email}}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="username">Nombre de usuario</label>
                                    <input type="text" class="form-control" name="username" value="{{user.username}}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="credito">Credito disponible</label>
                                    <input type="number" class="form-control" name="credito" value="{{user.perfilusuario.creditos}}" readonly>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row gutters pt-4">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    <a class="btn btn-secondary mb-1" href="{% url 'home' %}">Regresar</a>
                                    <button type="submit" class="btn btn-success mb-1">Guardar cambios</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

  
{% include 'layaout/js.html' %}
{% endblock %}