{% extends 'layaout/base.html' %}

{% block content %}
 <!-- Modal -->
 <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModalLabel">Error</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ error_message }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
{% include 'layaout/navbar.html' %}
<section class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3 text-white" style="background-color: #09008b;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">{% if user.perfilusuario.user_type == 'administrador' %} Registrar distribuidor {% else %} Registrar cliente {% endif %}</h3>

            <form class="px-md-2" method="POST" action="">{% csrf_token %}
              <div class="row">
                <div class="col-md-12 mb-4">

                  <div class="form-outline datepicker">
                    <input type="text" class="form-control" name="nombre" />
                    <label for="exampleDatepicker1" class="form-label">Nombre</label>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-4">
                  <div class="form-outline datepicker">
                    <input type="text" class="form-control" name="apellidos" />
                    <label for="exampleDatepicker1" class="form-label">Apellidos</label>
                  </div>                
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline mb-4">
                    <input type="text" name="username" class="form-control" />
                    <label class="form-label" >Username</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline mb-4">
                    <input type="password" name="password" class="form-control" />
                    <label class="form-label">Contraseña</label>
                  </div>
                </div>
              </div>
              <div class="row mb-4 pb-2 pb-md-0 mb-md-5">
                <div class="col-md-6 mb-4">
                  <div class="form-outline mb-4">
                    <input type="text" name="correo" class="form-control" />
                    <label class="form-label" >Correo</label>
                  </div>
                </div>
                {% if user.perfilusuario.user_type == 'distribuidor' %}
                  <div class="col-md-6">
                    <div class="form-outline">
                      <input type="number" name="credito" class="form-control" />
                      <label class="form-label">Credito</label>
                    </div>
                  </div>
                {% endif %}

              </div>

              <button type="submit" class="btn btn-success btn-lg mb-1">Registrar</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  {% include 'layaout/js.html' %}
  {% if error_message %}
    <script>
        $("#errorModal").modal("show");
    </script>
  {% endif %}
{% endblock %}